<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CampGuide</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<h1><%=@location.name%></h1>
<h3> Description:</h3> <%= @location.description%>
<h4> Items: </h4> 

<ul>
<% @location.items.each do |item| %>
<li><%= link_to item.name, item_path(item) %></li>
<td><%= button_to 'Add to Your Stockpile', {:controller => "user_items", :action => "create", :user_id => session[:user]["id"], :item_id => item.id}, :method =>:post%> </td>
<% end %>
</ul>


<td><%= button_to 'Add to destinations', {:controller => "destinations", :action => "create", :location_id => @location.id, :user_id => session[:user]["id"]}, :method =>:post%> </td>


<%= button_to 'View Your Items', user_items_path, method: :get %>
<%= button_to 'Back to locations', locations_path, method: :get%>
